.ranking-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.ranking-title h1 {
  font-size: 2rem;
  padding-top: 3vh;
}

.search-div {
  display: inline-flex;
  background-color: #dedede;
  margin-right: auto;
  margin-left: 5%;

  flex-direction: row;
}

.ag-theme-alpine {
  width: 90%;
  height: 55vh;
}
