.ranking-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.ranking-title h1 {
  font-size: 2rem;
  padding-top: 3vh;
  padding-bottom: 3vh;
}

.search-div {
  display: inline-flex;
  background-color: #dedede;
  margin-right: auto;
  margin-left: 5%;

  flex-direction: row;
}

.grid-holder {
  width: 100%;
  height: 55vh;
}

.bar-chart-container {
  padding-top: 5vh;
}

.no-data-content {
  display: inline-flex;
  flex-direction: column;
  float: left;
  padding-top: 5vh;
  align-items: center;
  justify-content: center;
}
